spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    com.omnishop360: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
